
<div class="left-ads-display col-lg-9">
    <div class="row">
        {% for fruit in fruit_list %}
            <div class="col-md-4 product-men">
                <div class="product-shoe-info editContent text-center mt-lg-4" >
                    <div class="item-info-product">
                        <h4 class="">
                            {{ fruit.name }}
                        </h4>
                        <p>{{ fruit.description }}</p>
                        <p>Эн.ценность на 100г: {{ fruit.calories }} Ккал</p>
                        <hr>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>